@font-face {
  font-family:'BMW' ;
  src: url(/Fonte/BMWTypeNext-Light.20210426144302.ttf);
}

*{
  margin: 0;
  padding: 0;
}

body {
 overflow-x: hidden;
}

header {
  display: flex;
  background: rgb(255, 255, 255);
  text-align: center;
  font-family: 'BMW';
  justify-content: space-around;
  height: 18vh;
  font-family: 'BMW';
  font-weight: normal; 
}

.navbar-menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar-contatos{
  display: flex;
  gap: 4vh;
  margin-top: 35px;
  height: 5vh;
}


.box-preta{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #000000;
  color: white;
  font-size: 1em;
  width: 19%;
  padding: 3px;
  align-items: center;
}

.box-verde{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #25D366;
  color: white;
  font-size: 1em; 
  align-items: center;
  width: 19%;
  padding: 3px;
}

.icon {
  width: 20px; /* Defina a largura desejada para o ícone */
  height: 20px; /* Defina a altura desejada para o ícone */
  margin-right: 8px; /* Adicione um espaço entre o ícone e o texto */
}

.nav-list{
  list-style: none;
  display: flex;
  align-items: end;
  gap: 50px;
  font-size: 0.8em;
  margin-top: 25px;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  font-weight: bold
}

.logo-bmw{
  display: flex;
  align-items: center;
}

/*Banner BMW*/
.banner {
  background-image: url(/Imagens/banners/desktop-.jpg);
  background-size: cover;
  height: 750px;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 20px;
}

/* Estilos para o formulário */
form {
  max-width: 500px; /* Largura máxima do formulário para torná-lo responsivo */
  margin: 0 auto; /* Centralizar o formulário horizontalmente */
  position: absolute;
  top: 300px;
  right: 100px;
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco quase transparente */
  padding: 20px;
  border-radius: 5px; /* Cantos arredondados */
  display: flex;
  flex-direction: column; /* Exibir o formulário verticalmente */
  align-items: flex-start; /* Alinhar à esquerda */
  font-family: 'BMW';
}

.icon-carro{
  display: flex;
  width: 35px;
  margin-right: 10px;
}

.titlo{
  display: flex;
  font-size: 10px;
  color: #0074cc;
}

.form-title {
  font-size: 1.5rem; /* Tamanho do título */
  margin-bottom: 20px;
  text-align: center; /* Alinhar o título à esquerda */
}

.input-box {
  width: 100%;
  padding: 1px;
  margin-bottom: 10px; /* Espaço entre as caixas de entrada */
}

label {
  display: flex;
  font-family: 'BMW';
  font-size: small;
  text-align: left; /* Alinhar os rótulos à esquerda */
}

input[type="nome"],
input[type="e-mail"],
input[type="telefone"],
input[type="modelo"],
input[type="mensagem"] { 
  padding: 5px 0px;
  width: 17vw;
  border: none;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  outline: 0;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.box-politica {
  display: flex;
}

button.botao-enviar {
  background-color: #0074cc;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.titlo-bmw{
  text-align: center;
  font-family: 'BMW';
  font-weight: normal;
  padding: 10vh;
  font-size: 14px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8vh;
}

.card {
  width: 315px; 
  margin-bottom: 8vh;
}

.card-nome-do-carro{
  display: flex;

}

.compartilhar-redes-sociais {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: -1vh;
}

.compartilhar-redes-sociais span {
  margin-right: 10px;
}

.compartilhar-redes-sociais img {
  max-width: 20px;
}

.card-botao {
  color: rgb(255, 255, 255);
  background-color: #0074cc;
  text-align: center;
  width: 100%;
  padding: 12px;
  border: none;
  margin-top: 3vh;
  font-size: 1vw;
  margin-bottom: 20px;
}

.card-nome-do-carro {
  font-family: 'BMW';  
  margin-right: 20px;
}

.card-lista{
  display: flex;
  gap: 8vh;
 
}

